---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title?: string;
	description?: string;
}

const { 
	title = "Reprendre le Contrôle - Forum des Solutions pour une IA Compatible avec l'Humanité",
	description = "Une journée de conférences et d'échanges sur la gouvernance de l'IA. Face au développement rapide de l'IA et aux risques qu'il comporte, nous réunissons experts, organisations et citoyens engagés pour présenter et discuter des moyens concrets d'orienter le développement de l'IA vers un futur positif pour l'humanité."
} = Astro.props;
---

<!doctype html>
<html lang="fr" class="h-full bg-white antialiased">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
		<link rel="icon" type="image/png" sizes="192x192" href="/favicon/favicon.png" />
		<link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		
		<title>{title}</title>
		<meta name="description" content={description} />
		
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL('/share.png', Astro.url)} />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />

		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:url" content={Astro.url} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={new URL('/share.png', Astro.url)} />
		
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link 
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=DM+Sans:wght@400;500;700&display=swap" 
			rel="stylesheet"
		/>
		
		<ViewTransitions />
	</head>
	<body class="flex min-h-full">
		<div class="flex w-full flex-col">
			<Header />
			<main class="flex-auto">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>

<style is:global>
	:root {
		--font-inter: 'Inter', sans-serif;
		--font-dm-sans: 'DM Sans', sans-serif;
	}
</style>
